@keyframes back-rainbow {
	0% {
		background-color: hsla(0, 40%, 30%, 0.6);
	}
	1% {
		background-color: hsla(3.6, 40%, 30%, 0.6);
	}
	2% {
		background-color: hsla(7.2, 40%, 30%, 0.6);
	}
	3% {
		background-color: hsla(10.8, 40%, 30%, 0.6);
	}
	4% {
		background-color: hsla(14.4, 40%, 30%, 0.6);
	}
	5% {
		background-color: hsla(18, 40%, 30%, 0.6);
	}
	6% {
		background-color: hsla(21.6, 40%, 30%, 0.6);
	}
	7% {
		background-color: hsla(25.2, 40%, 30%, 0.6);
	}
	8% {
		background-color: hsla(28.8, 40%, 30%, 0.6);
	}
	9% {
		background-color: hsla(32.4, 40%, 30%, 0.6);
	}
	10% {
		background-color: hsla(36, 40%, 30%, 0.6);
	}
	11% {
		background-color: hsla(39.6, 40%, 30%, 0.6);
	}
	12% {
		background-color: hsla(43.2, 40%, 30%, 0.6);
	}
	13% {
		background-color: hsla(46.8, 40%, 30%, 0.6);
	}
	14% {
		background-color: hsla(50.4, 40%, 30%, 0.6);
	}
	15% {
		background-color: hsla(54, 40%, 30%, 0.6);
	}
	16% {
		background-color: hsla(57.6, 40%, 30%, 0.6);
	}
	17% {
		background-color: hsla(61.2, 40%, 30%, 0.6);
	}
	18% {
		background-color: hsla(64.8, 40%, 30%, 0.6);
	}
	19% {
		background-color: hsla(68.4, 40%, 30%, 0.6);
	}
	20% {
		background-color: hsla(72, 40%, 30%, 0.6);
	}
	21% {
		background-color: hsla(75.6, 40%, 30%, 0.6);
	}
	22% {
		background-color: hsla(79.2, 40%, 30%, 0.6);
	}
	23% {
		background-color: hsla(82.8, 40%, 30%, 0.6);
	}
	24% {
		background-color: hsla(86.4, 40%, 30%, 0.6);
	}
	25% {
		background-color: hsla(90, 40%, 30%, 0.6);
	}
	26% {
		background-color: hsla(93.6, 40%, 30%, 0.6);
	}
	27% {
		background-color: hsla(97.2, 40%, 30%, 0.6);
	}
	28% {
		background-color: hsla(100.8, 40%, 30%, 0.6);
	}
	29% {
		background-color: hsla(104.4, 40%, 30%, 0.6);
	}
	30% {
		background-color: hsla(108, 40%, 30%, 0.6);
	}
	31% {
		background-color: hsla(111.6, 40%, 30%, 0.6);
	}
	32% {
		background-color: hsla(115.2, 40%, 30%, 0.6);
	}
	33% {
		background-color: hsla(118.8, 40%, 30%, 0.6);
	}
	34% {
		background-color: hsla(122.4, 40%, 30%, 0.6);
	}
	35% {
		background-color: hsla(126, 40%, 30%, 0.6);
	}
	36% {
		background-color: hsla(129.6, 40%, 30%, 0.6);
	}
	37% {
		background-color: hsla(133.2, 40%, 30%, 0.6);
	}
	38% {
		background-color: hsla(136.8, 40%, 30%, 0.6);
	}
	39% {
		background-color: hsla(140.4, 40%, 30%, 0.6);
	}
	40% {
		background-color: hsla(144, 40%, 30%, 0.6);
	}
	41% {
		background-color: hsla(147.6, 40%, 30%, 0.6);
	}
	42% {
		background-color: hsla(151.2, 40%, 30%, 0.6);
	}
	43% {
		background-color: hsla(154.8, 40%, 30%, 0.6);
	}
	44% {
		background-color: hsla(158.4, 40%, 30%, 0.6);
	}
	45% {
		background-color: hsla(162, 40%, 30%, 0.6);
	}
	46% {
		background-color: hsla(165.6, 40%, 30%, 0.6);
	}
	47% {
		background-color: hsla(169.2, 40%, 30%, 0.6);
	}
	48% {
		background-color: hsla(172.8, 40%, 30%, 0.6);
	}
	49% {
		background-color: hsla(176.4, 40%, 30%, 0.6);
	}
	50% {
		background-color: hsla(180, 40%, 30%, 0.6);
	}
	51% {
		background-color: hsla(183.6, 40%, 30%, 0.6);
	}
	52% {
		background-color: hsla(187.2, 40%, 30%, 0.6);
	}
	53% {
		background-color: hsla(190.8, 40%, 30%, 0.6);
	}
	54% {
		background-color: hsla(194.4, 40%, 30%, 0.6);
	}
	55% {
		background-color: hsla(198, 40%, 30%, 0.6);
	}
	56% {
		background-color: hsla(201.6, 40%, 30%, 0.6);
	}
	57% {
		background-color: hsla(205.2, 40%, 30%, 0.6);
	}
	58% {
		background-color: hsla(208.8, 40%, 30%, 0.6);
	}
	59% {
		background-color: hsla(212.4, 40%, 30%, 0.6);
	}
	60% {
		background-color: hsla(216, 40%, 30%, 0.6);
	}
	61% {
		background-color: hsla(219.6, 40%, 30%, 0.6);
	}
	62% {
		background-color: hsla(223.2, 40%, 30%, 0.6);
	}
	63% {
		background-color: hsla(226.8, 40%, 30%, 0.6);
	}
	64% {
		background-color: hsla(230.4, 40%, 30%, 0.6);
	}
	65% {
		background-color: hsla(234, 40%, 30%, 0.6);
	}
	66% {
		background-color: hsla(237.6, 40%, 30%, 0.6);
	}
	67% {
		background-color: hsla(241.2, 40%, 30%, 0.6);
	}
	68% {
		background-color: hsla(244.8, 40%, 30%, 0.6);
	}
	69% {
		background-color: hsla(248.4, 40%, 30%, 0.6);
	}
	70% {
		background-color: hsla(252, 40%, 30%, 0.6);
	}
	71% {
		background-color: hsla(255.6, 40%, 30%, 0.6);
	}
	72% {
		background-color: hsla(259.2, 40%, 30%, 0.6);
	}
	73% {
		background-color: hsla(262.8, 40%, 30%, 0.6);
	}
	74% {
		background-color: hsla(266.4, 40%, 30%, 0.6);
	}
	75% {
		background-color: hsla(270, 40%, 30%, 0.6);
	}
	76% {
		background-color: hsla(273.6, 40%, 30%, 0.6);
	}
	77% {
		background-color: hsla(277.2, 40%, 30%, 0.6);
	}
	78% {
		background-color: hsla(280.8, 40%, 30%, 0.6);
	}
	79% {
		background-color: hsla(284.4, 40%, 30%, 0.6);
	}
	80% {
		background-color: hsla(288, 40%, 30%, 0.6);
	}
	81% {
		background-color: hsla(291.6, 40%, 30%, 0.6);
	}
	82% {
		background-color: hsla(295.2, 40%, 30%, 0.6);
	}
	83% {
		background-color: hsla(298.8, 40%, 30%, 0.6);
	}
	84% {
		background-color: hsla(302.4, 40%, 30%, 0.6);
	}
	85% {
		background-color: hsla(306, 40%, 30%, 0.6);
	}
	86% {
		background-color: hsla(309.6, 40%, 30%, 0.6);
	}
	87% {
		background-color: hsla(313.2, 40%, 30%, 0.6);
	}
	88% {
		background-color: hsla(316.8, 40%, 30%, 0.6);
	}
	89% {
		background-color: hsla(320.4, 40%, 30%, 0.6);
	}
	90% {
		background-color: hsla(324, 40%, 30%, 0.6);
	}
	91% {
		background-color: hsla(327.6, 40%, 30%, 0.6);
	}
	92% {
		background-color: hsla(331.2, 40%, 30%, 0.6);
	}
	93% {
		background-color: hsla(334.8, 40%, 30%, 0.6);
	}
	94% {
		background-color: hsla(338.4, 40%, 30%, 0.6);
	}
	95% {
		background-color: hsla(342, 40%, 30%, 0.6);
	}
	96% {
		background-color: hsla(345.6, 40%, 30%, 0.6);
	}
	97% {
		background-color: hsla(349.2, 40%, 30%, 0.6);
	}
	98% {
		background-color: hsla(352.8, 40%, 30%, 0.6);
	}
	99% {
		background-color: hsla(356.4, 40%, 30%, 0.6);
	}
	100% {
		background-color: hsla(360, 40%, 30%, 0.6);
	}
}

.rainbow-bg {
	animation: 10s linear 0s infinite back-rainbow;
}
