{% macro getQueue(songs) %}
{%- for dat in songs -%}
	{%- if dat.status == 'Queued' -%}
	<div class='item' style="order:{{ dat.time }}">
		<img src='https://beatsaver.com{{ dat.song.coverURL }}'>
		<div class='detail'>
			<div class='row'><span><em class='song-key'>{{ dat.song.key }}</em> {% if dat.song.songSubName != "" %}{{ dat.song.songSubName }} — {% endif %}{{ dat.song.songName }}</span></div>
			<div class='row'>
				<span><em>Artist</em>: {{ dat.song.authorName }}</span>
				<span><em>Mapper</em>: {{ dat.song.levelAuthor }}</span>
			</div>
			<div class='row'>
				<span><em>Time</em>: {{ dat.song.songlength }}</span>
				<span><em>BPM</em>: {{ dat.song.metadata.bpm }}</span>
				<span><em>NJS</em>: {{ '%.1f'%dat.song.njs }}</span>
			</div>
			<div class='row'><span>Requested by <em class="requestor">{{ dat.requestor }}</em></span></div>
		</div>
	</div>
	{%- endif -%}
{%- endfor -%}
{% endmacro %}